*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --JauneColor:rgb(255, 196, 0);
    --blackColor:rgb(29, 29, 29);
    --GrayColor:rgb(121, 121, 121);
    --tailleCenter:1170px;
    --blueColor:rgb(10, 181, 238);
}
.btn-achat{
    width: 120px;
    height: 45px;
    color: white;
    background-color: var(--blackColor);
    transition: all 0.5s ease;
}
.btn-achat1{
    width: 120px;
    height: 45px;
    color: var(--blackColor);
    background-color: white;
    transition: all 0.5s ease;
    font-size: 14px;
    font-weight: bold;
}
.btn-achat:hover,.btn-achat1:hover{
    color: white;
    background-color: var(--blueColor);
}
body{
    background-color: var(--blueColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    height: auto;
    width: auto;
}
.login{
    background-color: white;
    height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.login input,button{
    height: 50px;
    width: 85%;
}
.login button{
    background-color: var(--blueColor);
    border: none;
    color: white;
    font-weight: bold;
}
.login input{
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    padding-left: 20px;
}
.login .separator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 5px;
}
.login .separator .hr{
    width: 45%;
    height: 1px;
    background-color:  rgb(228, 228, 228);
}
.login .facebook{
    margin-top: 20px;
    background-color: rgb(1, 96, 204);
    height: 50px;
    width: 85%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    cursor: pointer;
}
.login .google{
    height: 50px;
    width: 85%;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.login .google img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-color: white;
}
.login .facebook img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-color: white;
    border-radius: 15px;
}
.login .google p{
    margin: 0;
    padding: 0;
}
.login .facebook p{
    margin: 0;
    padding: 0;
}
@media (max-width:400px) {
    .login{
        width: 100vw;
    }
}
@media (max-height:650px) {
    body{
        align-items: start;
    }
}
.div-float{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-float .princ{
    background-color: white;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: red;
    gap: 30px;
}